
<!DOCTYPE html>

<html lang="en">



<head>

    <title>Products</title>

</head>



<body>

<h2>List Products</h2>

<% for(const product of products) { %>

    <h3>

        Name: <%= product.name %>

    </h3>

    <p>

        Price: <%= product.price %>

    </p>

    <p>

        Producer: <%= product.producer %>

    </p>

    <p>

        Avatar: <%= product.avatar %>

    </p>

    </br>

<% } %>

</body>



</html>