
<!DOCTYPE html>

<html lang="en">



<head>

    <title>Products</title>

    <style>

        .pagination a {

            color: black;

            float: left;

            padding: 12px 18px;

            text-decoration: none;

        }

        /* thiết lập style cho class active */

        .pagination a.active {

            background-color: dodgerblue;

            color: white;

            /*Thiết kế hình tròn với CSS*/

            border-radius: 50%;

        }

        /* thêm màu nền khi người dùng hover vào class không active */

        .pagination a:hover:not(.active) {

            background-color: #ddd;

            /*Thiết kế hình tròn với CSS*/

            border-radius: 50%;

        }

    </style>

</head>



<body>

<a href="/create" style = "color: red; font-size: 20px">Create new product</a>

<h2>List Products</h2>

<% for(const product of products) { %>

    <h3>

        Name: <%= product.name %>

    </h3>

    <p>

        Price: <%= product.price %>

    </p>

    <p>

        Producer: <%= product.producer %>

    </p>

    <p>

        Avatar: <%= product.avatar %>

    </p>

    </br>

<% } %>

<div class="pagination">

    <a href="#">«</a>

    <a href="http://localhost:3000/list?offset=0&limit=3">1</a>

    <a href="http://localhost:3000/list?offset=1&limit=3">2</a>

    <a href="http://localhost:3000/list?offset=2&limit=3">3</a>

    <a href="http://localhost:3000/list?offset=3&limit=3">4</a>

    <a href="http://localhost:3000/list?offset=4&limit=3">5</a>

    <a href="http://localhost:3000/list?offset=5&limit=3">6</a>

    <a href="#">»</a>

</div>



</body>



</html>